
body {
    background-color: black;
    font-family: sans-serif;
}
html {
    color:white;
}
h1 {
    text-align:center;
    font-size:50px;
}
img {
    width:567px;
    height:500px;
    border: 5px double cadetblue;
    animation-duration: 2s;
    position:relative ;
    animation-name: img;
    animation-delay: 3s;
}
b {
    text-align:center;
    font-size:30px;
}
ul {
    color:white;
    font-size:20px;
}

.chessf {
    text-align:center;
}
footer {
    color:white;
}
footer:hover {
    color:red;
    transition:3s color liner ;
}
@keyframes img {
  from {left: 0; }
  to {left: 175px; }
}
a {
  color:darkslateblue;
  background-color: mediumspringgreen;
   border-radius:25px;
   margin:50px;
   padding:15px; 
   font-size:30px;
   text-decoration: none;
}
p {
  font-size:20px;
}
li {
    font-size:20px;
    margin-bottom: 50px;
}







