body {
    background-color: black;
}
html {
    color:white;
}
h1 {
    text-align:center;
    font-size:50px;
}
img {
    width:567px;
    height:500px;
    border: 5px double cadetblue;
}
div {
    text-align:center;
    opacity:1;
}
div:hover {
    text-align:center;
    opacity:0;
}
b {
    text-align:center;
    font-size:30px;
}
ul {
    color:white;
}
.chess:hover {
    width:567px;
    height:500px;
    position: absolute;
    top: 126px;
    opacity:1;
    text-align:center;

}
.chess {
    width:567px;
    height:500px;
    position: absolute;
    top: 126px;
    opacity:0;
    text-align:center;
}
.chessf {
    text-align:center;
}
